body {
    background-color: lightgray;
    font-family: 'Pacifico', cursive;
}

.navbar-brand {
    background-color: rgb(94, 173, 197);
}

p {
    font-family: sans-serif;
}
.footer-copyright {
    text-align: center;
    background-color: grey;
    height: 50px;
}


.profile-image {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-title {
    text-align: center;
}

.social-icon {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.page-footer {
    background-color: rgb(94, 173, 197);
    padding-top: 3px;
}


hr {
    display: block;
    height: px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

h1 {
    color: lightblue;
    text-align: center;
}

ol, ul{
    list-style: none;
}